{% extends 'base/base.html' %}
{% block include %}
    <link rel="stylesheet" href="/static/articles/css/article.css"/>
{% endblock %}
{% block content %}
    {% for article in articles %}
        <div class="row article">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/static/images/no_image_100x75.jpg" alt="no_image">
                        </a>
                    </div>
                    <div class="media-body article-body">
                        <h4 class="media-heading"><b>{{ article.title }}</b> <i>{{ article.author }}</i></h4>
                        {{ article.body }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}